{% extends 'layout.html' %}

{% block content %}

<section>
                <h1>¿Necesitas ayuda en tu reparación?</h1>
                <p>Contáctanos y te ayudaremos en el proceso de reparación.</p>

                <!-- <div id= "formulario" class="row g-3"> -->
                    <h1>Contactar</h1>
                    <!-- para enviar informacion-->
                    <form method="post">

                        <!--creacion de caja usurio-->
                        <div class="username">
                            <input type="text" id="Nombre">
                            <label>Nombre *</label>
                        </div>
                       
                        
                        <div class="ciudad">
                            <input type="text" required>
                            <label>Ciudad *</label>
                        </div>

                        <div class="telefono">
                            <input type="text" required>
                            <label>Teléfono *</label>
                        </div>

                        <div class="email">
                            <input type="text" required>
                            <label>Email *</label>
                        </div>

                        <div class="mensaje col-12">
                            <input type="text" required>
                            <label>Mensaje *</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Default checkbox
                            </label>
                        </div>
                        <!--estrutura para recupera y crear usuario-->
                        <div class="recordar"></div>
                        <input type="submit" value="Enviar Solicitud">
                </div>

                </div>
     </section>
    {% endblock %}    