.footer {
    background-color: $primary-color;
    color: white;
    padding: 2rem 0;
     
    .bi {
      font-size: 1.2rem;
      margin-right: 0.5rem;
    }

    i { 
        font-size: 30px;
        color: aliceblue;
        margin: 1%;
        transition: color 0.5s;
        padding: 5px;
        cursor: pointer;
        border-radius: 200%;
        box-shadow: 3px 3px 3px rgba(47, 244, 8, 0.566);
        background-color: rgba(0, 0, 0, 0.2);
        border: none;
        position: static;
        
    }
    :hover{
        color: yellow;
    }
   
    a {
      color: white;
      text-decoration: none;
      &:hover {
                text-decoration: underline;
      }
    }
  }

