.header {
    background: green;    
}

header {
    background-color: #4CAF50;
    color: white;
    img{
      max-width: 100px;
      border-radius: 50%;
      margin-right: 10px;
    }
    
    h1{
        font-size: 50px;
        padding: 20px;
        color: white;
    }
  
}

.header {
    background-color: $primary-color;
    padding: 1rem 0;
  
    .navbar-brand img {
      max-width: 100px;
    }
  
    h1 {
      color: white;
      margin-bottom: 0;
    }
  }