/*-----------------------------------------*/
/* -------FORMULARIO DE LOGIN MODAL-------*/
/*----------------------------------------*/

.modal{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background-color: #111111bd;
  
}

.modal-content1{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 25%;
    max-width: 90%;
    max-height: 600px;
    padding: 20px;
    border-radius: 25px;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    background: $accent-color; 
    box-shadow: 0 0 10px rgba(35, 10, 10, 0.1);
    
}

.modal-content{    
    /*posicion del formulario*/
    display: flex;
    margin: auto;
    width: 90%;
    max-width: 90%;
    max-height: 600px;
    padding: 20px;
    border-radius: 25px;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    background: #2E7D32; 
    box-shadow: $header-bg ;
    box-shadow: 3px 3px 3px rgba(47, 244, 8, 0.566);
    transition: background-color 1.3s ease;
    
}
.modal-title{
    font-size: 2.5rem;
    position: center;
    text-align: center;
    //color: white;
    padding: 0 0 20px 0;
    /*colocando espacios*/
    border-bottom: 2px solid silver;
}


.modal-content2{   
     
    /*posicion del formulario*/
    display: flex;
    font-size: large;
    margin: auto;
    width: 70%;
    max-width: 100%;
    max-height: 600px;
    padding: 20px;
    border-radius: 25px;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
       
}
.contenedor{
    display: flex;
}
.sec-1{

width: 900px;
padding: 15px;
}

.sec-2{
    padding: 50px;
}

/*ajustar cajas de texto Nombre de usuario*/
.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input{
    color: white;
    width: 100%;
    padding: 0 5px;
    height: 50px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

/*ajustes de label Nombre de usuraio*/
.username label{
    position: absolute;
    top: 50%;
    left: 2px;
    color: #adadad;
    transform: translate(0%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background: white;
}
.username input:focus ~ label,
.username input:focus ~ label{
    top: -5px;
    color: white ;
}

.username input:focus ~ span::before,
.username input:focus ~ span::before{
    top: -5px;
    color: white;
}
/*-----------------------------------*/
/*ajustes caja de texto ciudad*/
form .ciudad{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.ciudad input{
    width: 100%;
    padding: 0 5px;
    height: 50px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

/*ajustes de label ciudad*/
.ciudad label{
    position: absolute;
    top: 50%;
    left: 2px;
    color: #adadad;
    transform: translate(0%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.ciudad span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background: white;
}
.cuidad input:focus ~ label,
.ciudad input:focus ~ label{
    top: -5px;
    color: white ;
}

.ciudad input:focus ~ span::before,
.ciudad input:focus ~ span::before{
    top: -5px;
    color: white;
}
/*-----------------------------------*/
/*ajustes caja de texto telefono*/
form .telefono{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.telefono input{
    width: 100%;
    padding: 0 5px;
    height: 50px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

/*ajustes de label telefono*/
.telefono label{
    position: absolute;
    top: 50%;
    left: 2px;
    color: #adadad;
    transform: translate(0%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.telefono span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background: white;
}
.telefono input:focus ~ label,
.telefono input:focus ~ label{
    top: -5px;
    color: white ;
}

.telefono input:focus ~ span::before,
.telefono input:focus ~ span::before{
    top: -5px;
    color: white;
}
/*-----------------------------------*/
/*ajustes caja de texto email*/
form .email{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.email input{
    width: 100%;
    padding: 0 5px;
    height: 50px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

/*ajustes de label email*/
.email label{
    position: absolute;
    top: 50%;
    left: 2px;
    color: #adadad;
    transform: translate(0%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.email span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background: white;
}
.email input:focus ~ label,
.email input:focus ~ label{
    top: -5px;
    color: white ;
}

.email input:focus ~ span::before,
.email input:focus ~ span::before{
    top: -5px;
    color: white;
}
/*-----------------------------------*/
/*ajustes caja de texto mensaje*/
form .mensaje{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.mensaje input{
    width: 100%;
    padding: 0 5px;
    height: 50px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

/*ajustes de label mensaje*/
.mensaje label{
    position: absolute;
    top: 50%;
    left: 2px;
    color: #adadad;
    transform: translate(0%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.mensaje span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background: white;
}
.mensaje input:focus ~ label,
.mensaje input:focus ~ label{
    top: -5px;
    color: white ;
}

.mensaje input:focus ~ span::before,
.mensaje input:focus ~ span::before{
    top: -5px;
    color: white;
}
/*-----------------------------------*/
/* contraseña*/

form .contraseña{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.contraseña input{
    color: white;
    width: 100%;
    padding: 0 5px;
    height: 50px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
/*ajustes de label Nombre de usuraio*/
.contraseña label{
    position: absolute;
    top: 50%;
    left: 2px;
    color: #adadad;
    transform: translate(0%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.contraseña span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background: white ;
}
.contraseña input:focus ~ label,
.contraseña input:focus ~ label{
    top: -5px;
    color: white;
}

.contraseña input:focus ~ span::before,
.contraseña input:focus ~ span::before{
    top: -5px;
    color: white;
}

/*olvido su contraseña*/
.recordar{
    text-align: center;
    margin: -5px 0 20px 5px;
    color: rgb(254, 254, 255);
    cursor: pointer;
}
 .recordar :hover{
    text-decoration: underline ;
 }

 /*BOTON DE FORMULARIO*/
input[type="submit"]{    
    width: 100%;
    height: 50px;
    border: 0px solid;    
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #0c0c0c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #103ac5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 18px;
    color: white;
    outline: none;

    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px rgba(47, 244, 8, 0.566);
    transition: background-color 1.3s ease;
      
}
input[type="submit"]{   
    border-color: white;
    transition: .5s;
}
/*gregistro de usaurio nuevo*/
.registrase{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: white;
}

.registrase{
    color: white;
    text-decoration: none;
}

.registrase a:hover{
    text-decoration: none;
    //text-decoration: underline;
}
/*-----------------------------------*/
/*-----------------------------------*/