main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    
    background-color: $primary-color;
    
}

.sec-container{
    display: flex;
    background-color: $primary-color;
    border-radius: 10px;
}

.container{
  display: flex;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px rgba(47, 244, 8, 0.566);
  background-color: rgba(0, 0, 0, 0.2);
   
}

.sec-pdt{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
   
}

/* Main Content */
.product {
    background: white;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 25px;
    text-align: center;
    width: calc(60% - 50px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 70%;
    border-radius: 25px;
}

.add-to-cart {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;    
}

.add-to-cart:hover {
    background-color: #45a049;
}
