// Variables
$navbar-bg: rgba(0, 0, 0, 0.2);
$primary-color: #2E7D32;
$accent-color: #FFD700;
$text-color: #FFFFFF;
$transition-speed: 0.3s;
$border-radius: 15px;
$shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

#menu-principal {
  display: flex;
  padding: 10px;
  background-color: #333;
  border-radius: 15px;
  box-shadow: 3px 3px 3px rgba(47, 244, 8, 0.566);
  background-color: rgba(0, 0, 0, 0.2);
  width: 80%;
  font-size: 14px;
  color: white;
  width: -100%;

  a {
    color: green;
    margin: 10px;
    text-decoration: none;
  }

  i:hover {
    color: yellow;
  }
}

.navbar {
  .nav-link {
    color: white;
    color: $text-color;
    position: relative;
    padding: 0.5rem 1rem;
    transition: color $transition-speed ease;

    &:hover {
      color: $secondary-color;

      h1 {
        display: flex;
        flex-wrap: wrap;
      }

      .img {
        
        border-radius: $border-radius;
        transform: scale(1.5);
        transition: transform $transition-speed ease;
        
      }

    }
  }
  .navbar-nav {
    align-items: center;
    gap: 1rem;
    
    .bi {
      font-size: 1rem;
          
      &:hover {
        transform: translateY(0px);
      }
    }
  }
  @media (max-width: 768px) {
    .navbar {
      padding: 0.5rem;
      
      .navbar-nav {
        gap: 0.5rem;
      }
      
      .cart {
        .icono-cart i {
          font-size: 2rem;
        }
        
        #cart-count {
          padding: 0.3rem 0.5rem;
        }
      }
    }
  }
  
  .cart {
    position: relative;

    .icono-cart i {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.5rem;
      left: 70px;
      width: 90px;
      color: $primary-color;
      margin-right: 2px;
      cursor: pointer;
      transition: transform $transition-speed ease;

      &:hover {
        transform: scale(1.3);
      }
    }

    #cart-count {
      position: absolute;
      top: -9px;
      right: 0px;
      background: linear-gradient(45deg, #FF4444, #CC0000);
      color: white;
      border-radius: 50%;
      padding: 6px 12px;
      font-size: 0.8rem;
      font-weight: bold;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      animation: pulse 2s infinite;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}


