{% extends 'layout.html' %}
{% block content %}

<div class="product" data-name="Manzana">
    <img src="{{ url_for('static', filename='img/manzana.jpeg') }}" alt="Manzana"><h2>Manzana</h2>
    <p>$1.000</p>
    <button class="add-to-cart">Agregar al carrito</button>
</div>
<div class="product" data-name="Cebolla">
    <img src="{{ url_for('static', filename='img/cebolla.jpeg') }}"  alt="Cebolla"><h2>Cebolla</h2>
    <p>$1.000</p>
    <button class="add-to-cart">Agregar al carrito</button>
</div>
<div class="product" data-name="Tomate">
    <img src="{{ url_for('static', filename='img/tomate.jpeg') }}"alt="tomate"><h2>Tomate</h2>
    <p>$1.000</p>
    <button class="add-to-cart">Agregar al carrito</button>
</div>
<div class="product" data-name="Lechuga-crespa">
    <img src="{{ url_for('static', filename='img/crespa.jpeg') }}"alt="Lechuga Crespa"><h2>Lechuga Crespa</h2>
    <p>$1.000</p>
    <button class="add-to-cart">Agregar al carrito</button>
</div>
<div class="product" data-name="apio">
    <img src="{{ url_for('static', filename='img/apio.jpeg') }}" alt="Apio">
    <h2>Apio</h2>
    <p>$1.000</p>
    <button class="add-to-cart">Agregar al carrito</button>
</div>
<div class="product" data-name="Brócoli">
    <img src="{{ url_for('static', filename='img/brocoli.jpeg') }}" alt="Brócoli">
    <h2>Brócoli</h2>
    <p>$1.000</p>
    <button class="add-to-cart">Agregar al carrito</button>
</div>  

<div class="product" data-name="Coliflor">
    <img src="{{ url_for('static', filename='img/coliflor.jpeg') }}"alt="tomate"><h2>Coliflor</h2>
    <p>$1.000</p>
    <button class="add-to-cart">Agregar al carrito</button>
</div>
<div class="product" data-name="Limón">
    <img src="{{ url_for('static', filename='img/limon.jpeg') }}"alt="Lechuga Crespa"><h2>Limón</h2>
    <p>$1.000</p>
    <button class="add-to-cart">Agregar al carrito</button>
</div>
<div class="product" data-name="Naranja">
    <img src="{{ url_for('static', filename='img/naranja.jpeg') }}" alt="Naranja">
    <h2>Naranja</h2>
    <p>$1.000</p>
    <button class="add-to-cart">Agregar al carrito</button>
</div>
<div class="product" data-name="mango">
    <img src="{{ url_for('static', filename='img/mango.jpeg') }}" alt="mango">
    <h2>Mango</h2>
    <p>$1.000</p>
    <button class="add-to-cart">Agregar al carrito</button>
</div>  















{% endblock %}