{% extends 'layout.html' %}
{% block content %}


<!-- Sidebar -->
<section class="sec-container">

    <div class="container">

                 <aside class="sidebar">
                
                    <div class="ctg">
                    <h1 class="text-white">Categorías</h>
                    </div>

                <ul class="category-list">
                    <li class="category-item">Frutas
                        <lu class="subcategory-list">
                            <li>Manzana</li>
                            <li>Pera</li>
                            <li>Naranja</li>
                            <li>Uva</li>
                            <li>Cereza</li>
                            <li>Papaya</li>
                        </lu>
                    </li>
                    <li class="category-item">Verduras</li>
                    <li class="category-item">Orgánicos</li>
                    <li class="category-item">Ofertas<li>


                </ul>

                <div class="container-sec0">
                    <!-- Productos promo-->
                    <div id="carouselExampleIndicators" class="carousel slide p-6 m-4" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">

                                <img src="{{ url_for('static', filename='img/domicilios.jpeg') }}" class="d-block w-100"
                                    alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ url_for('static', filename='img/platanito.jpeg') }}" class="d-block w-100"
                                    alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ url_for('static', filename='img/pepino.jpeg') }}" class="d-block w-100"
                                    alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

            </aside>


        </div>
</section>

<section class="sec-pdt">
    <!-- Productos -->
    <div class="sec-2">
        <div class="product" data-name="Manzana">
            <img src="{{ url_for('static', filename='img/manzana.jpeg') }}" alt="Manzana">
            <h2>Manzana</h2>
            <p>$1.000</p>
            <button class="add-to-cart">Agregar al carrito</button>
        </div>
        <div class="product" data-name="Cebolla">
            <img src="{{ url_for('static', filename='img/cebolla.jpeg') }}" alt="Cebolla">
            <h2>Cebolla</h2>
            <p><i class="bi bi-dash-circle-dotted"></i><input type="number" name="age" id="age" min="0000000" max="1000000000" step="2" placeholder="Cantidad en gr" /><i class="bi bi-plus-circle-dotted"></i></p>
            <button class="add-to-cart"><i class="bi bi-cart4"></i></button>
        </div>
        <div class="product" data-name="Tomate">
            <img src="{{ url_for('static', filename='img/tomate.jpeg') }}" alt="tomate">
            <h2>Tomate</h2>
            <p>$1.000</p>
            <button class="add-to-cart">Agregar al carrito</button>
        </div>
        <div class="product" data-name="Lechuga-crespa">
            <img src="{{ url_for('static', filename='img/crespa.jpeg') }}" alt="Lechuga Crespa">
            <h2>Lechuga Crespa</h2>
            <p>$1.000</p>
            <button class="add-to-cart">Agregar al carrito</button>
        </div>
        <div class="product" data-name="apio">
            <img src="{{ url_for('static', filename='img/apio.jpeg') }}" alt="Apio">
            <h2>Apio</h2>
            <p>$1.000</p>
            <button class="add-to-cart">Agregar al carrito</button>
        </div>
        <div class="product" data-name="Brócoli">
            <img src="{{ url_for('static', filename='img/brocoli.jpeg') }}" alt="Brócoli">
            <h2>Brócoli</h2>
            <p>$1.000</p>
            <button class="add-to-cart">Agregar al carrito</button>
        </div>

        <div class="product" data-name="Coliflor">
            <img src="{{ url_for('static', filename='img/coliflor.jpeg') }}" alt="tomate">
            <h2>Coliflor</h2>
            <p>$1.000</p>
            <button class="add-to-cart">Agregar al carrito</button>
        </div>
        <div class="product" data-name="Limón">
            <img src="{{ url_for('static', filename='img/limon.jpeg') }}" alt="Lechuga Crespa">
            <h2>Limón</h2>
            <p>$1.000</p>
            <button class="add-to-cart">Agregar al carrito</button>
        </div>
        <div class="product" data-name="Naranja">
            <img src="{{ url_for('static', filename='img/naranja.jpeg') }}" alt="Naranja">
            <h2>Naranja</h2>
            <p>$1.000</p>
            <button class="add-to-cart">Agregar al carrito</button>
        </div>
        <div class="product" data-name="mango">
            <img src="{{ url_for('static', filename='img/mango.jpeg') }}" alt="mango">
            <h2>Mango</h2>
            <p>$1.000</p>
            <button class="add-to-cart">Agregar al carrito</button>
        </div>
    </div>
</section>

{% endblock %}